footer {
  background-color: #004d00; /* Ajuste a cor de fundo conforme necessário */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-section {
  color: white;
  margin: 0 20px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ddd;
}
