{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/drop.css' %}">
    
    {% block titulo %}
    <title>modelo</title>
    {% endblock %}
</head>
<body>
    {% block menu %}
    <div class="bg-light">
        <nav class="navbar navbar-expand-sm navbar-light bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'img/logo redonda.png' %}" width="50"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarID"
                    aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarID">
                    <div class="navbar-nav">
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="{% url 'inicio' %}">
                            <img src="{% static 'img/casa.png' %}" width="15" class="me-2"> 
                            <span>Início</span>
                        </a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'img/adição.png' %}" width="15" class="me-2"> 
                                <span>Cadastros</span>
                            </a>
                            <div class="dropdown-content">
                                <a href="{% url 'listar-campos' %}">Campos</a>
                                <a href="{% url 'listar-atividades' %}">Atividades</a>
                            </div>
                        </div>
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="{% url 'sobre' %}">
                            <img src="{% static 'img/i.png' %}" width="15" class="me-2"> 
                            <span>Sobre</span>
                        </a>
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
                            <img src="{% static 'img/interrogas.png' %}" width="15" class="me-2">
                            <span>Ajuda</span>
                        </a>
                    </div>
                    
                    {% if request.user.is_authenticated %}
                    <div class="nav-item dropdown" style="float: right; margin-right: 20px;">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="UsuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/user.png' %}" width="15" class="me-2">
                            <span>{{ request.user }}</span>
                        </a>
                        <div class="dropdown-content">
                            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="dropdown-item">
                                Sair
                            </a>
                            <a href="#" class="dropdown-item">Editar perfil</a>
                        </div>
                    </div>
                    
                    <!-- Formulário de Logout Oculto -->
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <a class="nav-link active d-flex align-items-center" aria-current="page" href="{% url 'login' %}">
                        <span>Login</span>
                    </a>
                    {% endif %}
                    
                </div>
            </div>
        </nav>
    </div>
    {% endblock %}

    {% block destaque %}
    <div class="bg-danger">
        destaque
    </div>
    {% endblock %}

    {% block conteúdo %}
    <div class="container">
        <h3> template de modelo</h3>
        <p>conteúdo do site</p>
    </div>
    {% endblock %}

    {% block rodapé %}
    <footer style="background-color: #144214; color: white; padding: 20px; display: flex; justify-content: space-around; bottom: 0; width: 100%; position: fixed;">
        <div style="flex: 1; text-align: center;">
            <h4 style="margin-bottom: 10px;">O Município</h4>
            <ul style="list-style: none; padding: 0;">
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 1</a></li>
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 2</a></li>
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 3</a></li>
            </ul>
        </div>
        <div style="flex: 1; text-align: center;">
            <h4 style="margin-bottom: 10px;">Serviços</h4>
            <ul style="list-style: none; padding: 0;">
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 1</a></li>
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 2</a></li>
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 3</a></li>
            </ul>
        </div>
        <div style="flex: 1; text-align: center;">
            <h4 style="margin-bottom: 10px;">Acesso rápido</h4>
            <ul style="list-style: none; padding: 0;">
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 1</a></li>
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 2</a></li>
                <li><a href="#" style="color: white; text-decoration: none; font-size: 0.9em;">Link 3</a></li>
            </ul>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
